@use "../../../variables" as *;

.page-header {
    background: linear-gradient(
        135deg,
        darken($primary-color, 5%) 10%,
        lighten($primary-color, 10%) 100%
    );
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        position: relative;
        z-index: 2;
        padding: 0 1rem;
    }

    h1 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        font-weight: 700;
        line-height: 1.2;
    }

    p {
        font-size: 1rem;
        max-width: 100%;
        margin: 0 auto;
        line-height: 1.5;
        padding: 0 1rem;
    }
}


.dashboard {
  padding: 1rem;

  a {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.25rem;
    background-color: $primary-color;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;

    i {
      font-size: 1rem;
    }

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}
